
@model WaMvTech.Models.ComicBook[]

@{
    ViewBag.Title = "Comic Book";
}

<h2>@ViewBag.Title</h2>


<div class="row">
    @foreach (var comicBook in Model)
    {
        <div class="col-md-3">

            <h4>@Html.ActionLink(comicBook.DisplayText, "Detail", new { Id = comicBook.Id})</h4>

            <a href="@Url.Action("Detail", new { Id = comicBook.Id })">
                <img class="img-responsive" src="~/Images/@comicBook.CoverImageFileName" alt="@comicBook.DisplayText" />
            </a>

        </div>
    }
</div>






