<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Comic Book Gallery</title>
    <link href="~/Content/site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/portal.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

</head>
<body>


    <nav>
        <div class="nav-wrapper">
            <a href="@Url.Action("Index","Landing")"class="brand-logo">Logo</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">     
            </ul>
        </div>
    </nav>

    <div class="container-fluid">

        @RenderBody()


        <!--Footer-->
            <footer>
                <p>&copy; @DateTime.Now.Year - Washington Military Veteran Tech</p>
            </footer>
        <!--Footer-->


    </div>


    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>